.fixed-header {
    width: 100%;
    position: fixed;        
    background:#3232ff;
    padding: 10px 0;
    color: #fff;
}

h1 {
    color:orange;
    float: left;
    font-size: 45px;
    margin-top: 28px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
.fixed-header {
    top: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color:rgb(205,201,201);
}